.card{
  position: absolute;
  left:30%;
  top:20%;
  min-height: 500px;
  width:700px;
  background-color: rgb(70, 211, 230);
  border-radius: 20px;
}
.display{
  width: 600px;
  margin: auto;
  min-height: 200px;
  background-color: aliceblue;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.288);
}
.in{
  border: 2px solid rgba(0, 0, 0, 0.849);
  border-radius: 6px;
  height: 40px;
  width: 500px;
  position: relative;
  margin-top: 20px;
  margin-left: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(89, 169, 240);
}

.title{
  font-family: 'Courier New', Courier, monospace;

}
